<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>

            <li v-for="(komen,index) in komentar" :key="index">
                <button @click="upVote(index)">+</button>
                <button @click="downVote(index)">-</button>
                
                {{komen.isi}} || {{komen.tanggal}} || {{komen.skor}}
                
            </li>
        </ul>
        <textarea @keyUp.enter="tambahKomen" v-bind="textarea"></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    var vue = new Vue({
        el:'#app',
        data: {
        textarea:'',
        clickedPlus:false,
        clickedMin:false,
        komen:[],
        komentar:[
            {isi:'Komentar 1',tanggal: '2020-12-12',skor:1},
            {isi:'Komentar 2',tanggal: '2020-11-11',skor:2},
            ]
        },
        methods:{
            upVote:function(index){
                if(this.clickedPlus){
                this.clickedPlus = false;
                    this.komentar[index].skor=this.komentar[index].skor-1;
                }else{
                this.clickedPlus = true;
                this.komentar[index].skor=this.komentar[index].skor+1;
            }
            },
            downVote:function(index){
                if(this.clickedMin){
                this.clickedMin = false;
                    this.komentar[index].skor=this.komentar[index].skor+1;
                }else{
                this.clickedMin = true;
                this.komentar[index].skor=this.komentar[index].skor-1;
            }
            },
            // tambahKomen:function(){
            //     var komen ={
            //     isi = this.textarea,
            //     tanggal = '2020-02-02',
            //     skor = 0
            // }
            //     this.komentar.push(koe)
            // }
        }
    })
    </script>
</body>
</html>